# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
installdir/

# Virtual environments
.env
.venv
env/
venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# logs and output
logs/
log/
output/
*.gif

# ROS/colcon usual
build/
install/
log/
